h1{
display: flex;
justify-content: center;
}
#grille{
  display: grid;
  margin-left: 150px;
  margin-top: 5%
}
.mur{
  background-image: url(../images/murbrique.jpg);
}
.sol{
  background-color: black;
}
.bonbon{
  background-image: url(../images/bonbon.gif);
}
.pacman{
  background-image: url(../images/pacman4.gif);
}
.fantome{
background-image: url(../images/fantome_bleu1.gif);
}