h1{
display: flex;
justify-content: center;
}
#grille{
  display: grid;
  margin-left: 150px;
  margin-top: 5%
}
.mur{
  background-image: url(../images/murbrique.jpg);
}
.sol{
  background-image: url(../images/sol2.jpg);
}
.bonbon{
  background-image: url(../images/bonbon.gif);
}